---
import '../styles/tailwind.css';
import Nav from '../components/Nav.astro';
const pageTitle = "About Me";

const identity = {
	name: "Chloe",
	country: "USA",
	birthday: new Date("1997-09-09"),
	hobbies: ["Knitting", "Cooking", "Coding", "Techno"],
	likes: ["Hot oolong tea", "The color green", "Animation"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js", "Express", "Astro"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Nav />

		<h1>{ pageTitle }</h1>
		<h2>Hi! My name is {identity.name}.</h2>
		<h2>Here are a few facts about me.</h2>
		<ul>
			<li>I live in {identity.country}.</li>
			<li>My birthday is on {identity.birthday}.</li>
			<li>My hobbies include: {identity.hobbies.join(", ")}.</li>
		</ul>
		<p>My skills include:</p>
		<ul>
			{skills.map((skill) => (
				<li>{skill}</li>
			))}
		</ul>
	</body>
</html>
